/* أسلوب الصفحة الرئيسي */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* منع التمرير الجانبي */
    box-sizing: border-box;
    background: linear-gradient(135deg, #2C5E50, #BDC3C9); /* اللون الخلفي */
    color: #333;
    font-size: 14px;
}

/* الشريط العلوي المثبت */
.sticky-header {
    display: flex;
    justify-content: space-between; /* توزيع النصوص بالتساوي */
    align-items: center; /* محاذاة النصوص بشكل عمودي */
    padding: 20px 20px;
    background: #1A452F; /* اللون الخلفي */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* تأثير الظل */
    gap: 5px; /* مسافة بين النصوص */
    white-space: nowrap; /* يجعل الشريط على سطر واحد */
    width: 100vw; 
}

.sticky-header .contact-info {
    display: flex;
    padding: 10px;
    gap: 30px; /* مسافة بين النصوص */
    text-align: justify; /* توسيط النصوص */
    flex: 1; /* جعل النصوص تأخذ مساحة متساوية */
    justify-content: center;
    
}

.sticky-header .contact-info p {
    margin: 0;
    font-size: 1.3rem;
    word-wrap: break-word; /* منع تجاوز النصوص */
}

.sticky-header .contact-info a {
    color: #d5dbdb; /* اللون الرابط */
    font-size: 1.3rem;
    text-align: center;
}

.sticky-header strong {
    color: #74e63c; /* اللون المميز */
}

/* رأس الصفحة */
.header {
    background: #1A252F; /* اللون الخلفي */
    text-align: center;
    padding: 20px 15px;
    padding-bottom: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* تأثير الظل */
    margin: 0; /* إزالة الهوامش الجانبية */
    width: 100vw; /* ملء الشاشة بالكامل */
    box-sizing: border-box; /* التأكد من أن الحشوات محسوبة ضمن العرض */
}

.header h1 {
    font-size: 5rem;
    margin: 1px;
    color: #74e63c; /* اللون العنوان */
    letter-spacing: 2px;
}

.header .tagline {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: 300;
    color: #74e63c; /* اللون المميز */
}

/* صور الرأس */
.header-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
   
    
    margin: 1px 50px;
}

.header-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
    max-width: 100%;
    flex-shrink: 0;
}

.header-image:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* تأثير الظل عند التمرير */
}

/* قائمة التنقل */
.navbar {
    background-color: #2C3E40; /* اللون الخلفي */
    padding: 1px;
    text-align: center;
    border: 3px solid #66ff33; /* إضافة إطار خارجي */
    margin: 5px 5px;
}

.navbar ul {
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 5px 5px;
    
}

.navbar a {
    text-decoration: none;
    color: #a1f244; /* اللون الرابط */
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    padding: 1px 50px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;
    background-color: transparent;
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #74e63c; /* اللون المميز */
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar a:hover {
    color: #fff;
    background-color: #74e63c; /* تغيير اللون عند التمرير */
}

/* الأقسام */
.section {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    background-color: #F4F4F4; /* اللون الخلفي */
    margin: 5px 60px;
    border-radius: 8px;
}

.section h2 {
    position: relative;
    display: inline-block;
    padding-bottom: 1px;
    transition: color 0.3s ease;
}

.section h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #74e63c; /* اللون المميز */
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.section h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.section h2:hover {
    color: #74e63c; /* تغيير اللون عند التمرير */
}

/* خدمات */
.services .services-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    margin-top: 1px;
    
}

.service-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-card:hover {
    transform: translateY(-25px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* تأثير الظل عند التمرير */
}

.service-card h3 {
    margin-bottom: 1px;
}

.service-card p {
    font-size: 1.2rem;
    margin-top: 1;
    margin-bottom: 10px;
}

.service-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

/* About Section */
.about {
    text-align: center;
    padding: 10px 100px;
    font-size: 1.3rem;
    background-color: #f4f4f4;
    margin: 0px 100px;
    border: 10px solid #66ff33; /* إضافة إطار خارجي */
}

.about h2 {
    font-size: 2rem;
    color: #333;
    margin-top: 0;
    padding: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about p {
    font-size: 1.3rem;
    color: #333;
    margin-top: 2px;
    padding: 0px;
    border-radius: 15px;
}

.about p1 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 20px;
    padding: 10px;
}

/* Map Section */
#map {
   
    width: 80%;
    border-radius: 15px;
    display: block;
    padding: 10px 0px;
    margin: auto;
    margin-top: 1px; /* مسافة بين العنوان والخريطة */
    margin-bottom: 10px; 
    border: 1px solid #66ff33; /* إضافة إطار خارجي */
}



/* Impressum */
#impressum {
    padding: 5px 150px;
    text-align: center; /* توسيط النص */
    margin: 10px auto; /* توسيط العنصر بشكل عام */
    max-width: 80%; /* تحديد عرض العنصر */
    font-size: 1rem;
    color: #333; /* الحفاظ على اللون الأساسي */
    background-color: #f4f4f4; /* خلفية خفيفة */
    border-radius: 10px; /* حدود دائرية خفيفة */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* تأثير الظل */
}

/* الفوتر */
.footer {
    background-color: #2C3E50; /* اللون الخلفي */
    color: #fff;
    text-align: center;
    padding: 1px;
    font-size: 1rem;
}

/* تحسين العرض للشاشات الصغيرة */
@media (max-width: 768px) {
    .header h1 {
        font-size: 3rem; /* تصغير الحجم */
        margin: 0; /* إزالة الهوامش */
        text-align: center; /* توسيط العنوان */
        width: 100%; /* جعل العنوان يمتد بشكل كامل */
    }

    .header .tagline {
        font-size: 1.1rem; /* تصغير الحجم */
        margin: 0; /* إزالة الهوامش */
        text-align: center; /* توسيط النص */
        width: 100%; /* جعل النص يمتد بشكل كامل */
    }

    .sticky-header {
        display: flex;
        flex-direction: column; /* تغيير الاتجاه ليصبح عمودي عند الشاشات الصغيرة */
        justify-content: center;
        align-items: center;
        padding: 10px 15px; /* تقليل الحشوات لتقليص المساحة */
        background: #1A452F; /* اللون الخلفي */
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* تأثير الظل */
        gap: 5px; /* مسافة بين النصوص */
        white-space: nowrap; /* منع تكسير السطر للنصوص */
        max-height: 100px; /* تحديد أقصى ارتفاع للشريط */
        overflow: hidden; /* منع التمرير الجانبي */
        width: 100%; /* الشريط يجب أن يكون بعرض كامل الصفحة */
    }

    .sticky-header .contact-info {
        display: flex;
        padding: 5px;
        gap: 10px; /* تقليل المسافة بين العناصر */
        text-align: center; /* توسيط النصوص */
        flex: 1; /* جعل العناصر تستفيد من المساحة بالتساوي */
        justify-content: space-evenly; /* توزيع المحتوى بالتساوي */
        max-width: 100%; /* استخدام المساحة بالكامل */
    }

    .sticky-header .contact-info p {
        margin: 0;
        font-size: 1rem; /* تصغير حجم الخط ليكون ملائم */
        word-wrap: break-word; /* السماح بتقسيم الكلمات لتجنب التمرير الجانبي */
    }

    .sticky-header .contact-info a {
        color: #d5dbdb; /* اللون الرابط */
        font-size: 1rem; /* تصغير حجم الخط */
        text-align: center;
    }

    .sticky-header strong {
        color: #74e63c; /* اللون المميز */
    }
}
    .contact-info {
        text-align: center;
        gap: 10px; /* تقليل المسافة بين النصوص */
        width: 100%; /* جعل العنصر يغطي العرض بالكامل */
    }

    .navbar ul {
        gap: 15px; /* تقليل المسافة بين الروابط */
        flex-direction: row; /* الحفاظ على ترتيب العناصر في صف */
        align-items: center;
        width: 100%; /* استخدام العرض الكامل */
        justify-content: space-evenly; /* توزيع الروابط بشكل متساوٍ */
        padding: 0; /* إزالة التباعد الداخلي */
    }

    .navbar li {
        list-style: none;
    }

    .footer {
        font-size: 0.9rem; /* تقليل حجم الخط */
        width: 100%; /* تغطية العرض بالكامل */
        text-align: center; /* توسيط النص */
        padding: 20px 0; /* إضافة تباعد داخلي */
    }

    .header-images {
        margin: 0; /* إزالة الهوامش */
        width: 100%; /* جعل الصور تمتد بعرض الشاشة */
        display: flex;
        justify-content: center; /* توسيط الصور */
    }

    .header-image {
        max-width: 100px; /* تصغير الصور */
        max-height: 120px; /* تصغير الصور */
        margin: 5px;
    }

    .service-card {
        flex: 1 1 45%; /* جعل الكروت تستفيد من العرض بشكل أفضل */
        margin: 10px 0; /* إضافة هامش صغير بين الكروت */
        box-sizing: border-box;
        text-align: center; /* توسيط النص داخل الكروت */
    }

    .service-cards-container {
        display: flex;
        justify-content: space-evenly; /* توزيع الكروت بشكل متساوٍ */
        flex-wrap: wrap; /* السماح بالتفاف الكروت في حالة ضيق المساحة */
        width: 100%; /* استخدام العرض بالكامل */
    }

    .map-section h2 {
        font-size: 1.4rem; /* تقليل حجم العنوان */
        margin: 10px 0; /* إضافة هوامش حول العنوان */
        text-align: center; /* توسيط النص */
    }

    #map {
        height: 200px; /* تصغير حجم الخريطة */
        width: 100%; /* جعل الخريطة تستفيد من العرض بالكامل */
    }

    .impressum-text {
        white-space: normal; /* جعل النص يتنقل بشكل طبيعي دون الحاجة للتمرير الطويل */
        word-wrap: break-word;
        width: 100%; /* تغطية العرض بالكامل */
        padding: 10px; /* إضافة تباعد داخلي لتحسين الشكل */
    }

